*.h5 filter=lfs diff=lfs merge=lfs -text
C:/Users/maxas/transfer-learning-projects/pneumonia-detection/.h5 filter=lfs diff=lfs merge=lfs -text
C:/Users/maxas/transfer-learning-projects/pneumonia-detectionxray_pneumonia_model.h5 filter=lfs diff=lfs merge=lfs -text
C:/Users/maxas/Downloads/xray_pneumonia_model.h5 filter=lfs diff=lfs merge=lfs -text
